{% extends "index.html" %}
{% block content %}
<h1>{{author.name}}'s favorites</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th># of pages</th>
        </tr>
    </thead>
    <tbody>
        {% for book in author.get_authors_favorites%}
        <tr>
            <td>{{book.title}}</td>
            <td>{{book.number_of_pages}}</td>
        </tr>               
        {% endfor %}
    </tbody>
</table>
<h1>Add Author's Favorite</h1>
<div class="dropdown">

    <form method="POST" action="/authors/add/favorite">
        <input type="submit" value="Add to Favorites">
        <select name="book_id">
            <option selected></option>
            {% for book in unfavorited_books %}
            <option value="{{ book.id }}">{{book.title }}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="author_id" value="{{ author.id }}">
    </form>
</div>
<a href="/">
    <button type="submit">Home</button>
    </a>
{% endblock %}
